# Twitch OAuth
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Session secret
# npx -y @fastify/secure-session | node -e "console.log(fs.readFileSync(0).toString('hex'))"
SESSION_SECRET=

# Pogly
POGLY_HOST=http://localhost:4000
POGLY_MODULES=pogly

# When running in a container, set the DATA_PATH to a volume
# DATA_PATH=file:///some/volume/path

# When running in a container, set the PORT and HOST to the port and host of the container
# PORT=12000
# HOST=0.0.0.0

# If running behind a proxy or load balancer that terminates SSL, set FORCE_SECURE to true
# FORCE_SECURE=true
